@charset "utf-8";
/* CSS Document */
.content{
  background-color:white;
  margin-left: 80;
  margin-right: 80;
}
#parrafo1{
  text-align: center;
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
	
}
#cuerpo{
	background-color: white;
}

#parrafo2{
  text-align: center;
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
	
}

#imagen{
  width: 70%;
  height: 70%;
  position: fixed;
  border-radius: 20px;
	
}